PRIVATE_KEY=""
API_KEY=""
RPC_URL="https://polygon-amoy.g.alchemy.com/v2/<apikey>"

ENTRYPOINT="0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789"
DIAMOND_CUT_FACET=""
DIAMOND_LOUPE_FACET=""
SECP256R1_VERIFIER=""
ACCOUNT_FACET=""
TOKEN_RECEIVER_FACET=""
DEFAULT_FALLBACK_HANDLER=""
FACET_REGISTRY=""
LOUICE_FACTORY=""

PROXY1 = ""
PROXY2 = ""

ZERO_ADDRESS= "0x0000000000000000000000000000000000000000"